<h2>Experience Control Panel</h2>

<p>From here you can create the Experiences as described by the Character
themselves. Each Character involved in an Event gets their own Experience,
which may or may not be an accurate depiction of what happened. Typically
this should be written in the
<a href="http://fictionwriting.about.com/od/glossary/g/firstperson.htm">first person</a>.
But exceptions could easily be made for the sake of telling a good story.</p>

<%= render :super %>
