<h2>New Character Control Panel</h2>

<p>In the description and history section, you can use textile markup language,
 but you can't use html. Read <%=  link_to 'this', "http://hobix.com/textile/" %> for an interduction to textile.</p>

<%= render :super %>
