<h2>Character Control Panel</h2>

<p>From here you can control the characters in your Universe. Each Character
has 5 basic attributes. Strength, Cunning, Agility, Charisma, and
Endurance, and they each are just basic guidelines to act as a framework
for what that character can do. Each ranges from 0 to 10.</p>

<p>Characters don't have to be specific individuals. In fact, I'd suggest
making a few that are generic Characters. Average Person can be a great way to
show the scale of attributes. If the Universe is meant to tell the story of
children, you might want the Average adult to have rather high strength, but
if you are telling the story of heroes with extraordinary powers, you might
want the average person to be rather low on the Strength scale, for example.
The Creator should include some kind of guidelines in the description of the
Universe about what kind of stories they wanted to tell, and the general
scale of the different attributes. A 10 in Strength may represent a "World's
Strongest Man" contestant, or it could represent Cosmic level strength
that can move whole planets, all depending on the desires of the Creator.</p>

<p>The purpose of this system is to have a fairly neutral, fairly simple system
to give everyone an idea of the basic capabilities of the various characters.
There are a lot more features that a good Character will need, namely skills.
A brilliant person may not know how to use a computer at all. An otherwise
dull person may have trained extensively on system administration. Who would
be better to have along if you need to hack into a computer system? Numbers
only tell part of the story, and are never a good substitute for good
storytelling.</p>

<%= render :super %>
