<h2>Edit Character Control Panel</h2>

<p>In the description and history section, you can use textile mark-up language,
 but you can't use html. Read <%=  link_to 'this', "http://hobix.com/textile/" %>
  for an introduction to textile. If you already know textile, but need a quick
  refresher, try this <%=  link_to 'one', "http://hobix.com/textile/quick.html"
  %></p>

<p>Really quick intro:
<ul>
  <li>Leave a blank line between paragraphs</li>
  <li>Make something bold by surrounding it with asterisk symbols *<strong>bold</strong>*</li>
  <li>Make something italicised by surrounding it with underline symbol _<em>italics</em>_</li>
  <li>To embed an image, surround the address with exclamation marks and
  include a title inside parenthesis, like this !http://www.image.com(title)!</li>
</ul>

But there is a lot more you can do, so it is work reading one of the above
links.</p>

<%= render :super %>
