<h2>Universe Control Panel</h2>

<p>From here you can see all the Universes you have been granted access as well
as create (where you will be known as the Creator of that Universe) as many of
your own as you need to tell your stories.</p>

<p>A Universe contains your Characters, Locations, and Events, as well as the
Experiences of those Characters during those Events at those Locations.</p>

<p>By using this system you are granting an irrevocable, perpetual license to
the Creator of the Universe you make your contribution in to use the material
as they see fit. They should give you attribution, but that is not a requirement
of use. This application exists to make it easier for different people to
come together and tell stories.</p>

<p>By using this system you hold harmless the creator and operator of the
program from any liability that may arise, whether intentional or incidental
in nature. It is under development, and service levels (or even continued
existence) cannot be guaranteed in any way.</p>

<h5>Select a Universe for viewing below. This will be refered to as the current
Universe from now on. You may come back here to switch Universes at any time by
coming back here.</h5>

<%= render :super %>
