<h4>Rights</h4>
<p>There are four levels off access, refered to as "Rights".
<ul>
  <li>No access. This is the default level of access.</li>
  <li>View Only. They can enter the Universe and see the contents, but they
  may not change anything, nor add anything new.</li>
  <li>Create and View only. They may view the Universe and may add new
  Characters, etc but they may not change nor delete anything, even if they
  created it.</li>
  <li>Full Edit. They may view the Universe and may add new
  Characters, etc and they <strong>may change or delete anything</strong>.</li>
</ul>
</p>

<%= render :super %>
