<h2>Organization Control Panel</h2>

<p>From here you can see and create new Organizational units for this Universe.</p>

<p>
  <b>Mission statement</b> -&gt;Public information about what the organization's goals are (possibly a lie) <br />
  <b>Agenda</b> -&gt;Private information about the group's real goals that only members have. Also, some of this may only be available to leadership as indicated.<br />

  0 through 10 rated stats:<br />
  <b>Manpower</b> -&gt;represents the raw number of people the group has available.<br />
  <b>Specialists</b>-&gt;represents the availability of people with very specialized (i.e. unusual, illegal, or just difficult to acquire for the average person) skills being available. A 10 would represent a highly skilled individual with nearly any skill desired could be had fairly quickly, while a 5 would represent most skills would be available, though not as quickly and the individual may not be quite as skilled. A 0 would generally mean only the skills the defined characters have is available at all.<br />
  <b>Transportation</b>-&gt;Access to private transportation as opposed to relying on commercial transportation services.<br />
  <b>Internal Security</b>-&gt;Difficulty to infiltrate the group by other groups.<br />
  <b>Firepower</b>-&gt;Directly offensive capabilities the group can bring to bear upon a target(s).<br />
  <b>Knowledge</b>-&gt;Secret information available through the group.<br />
  <b>Publicity</b>-&gt;How well known the group is by the Public at large.<br />
  <b>Public</b> <b>Relations</b>-&gt;How well liked the group is by the public.<br />
  <b>Intrusion</b>-&gt;How likely the group is to have spies or to have compromised someone among other groups. The higher this rating is compared to the other group's Internal Security the more likely they have a spy. If they have an equal or slightly lower rating they may have compromised someone on the inside, but the loyalty of that person (obviously) isn't as high as an actual spy.<br />
  <b>Slush Funds</b>-&gt;Amount of money available for special projects.<br />
  <b>Bases</b>-&gt;How many and how extensive are the bases of operation for the group. A 10 means they are plentiful and rarely are any more than one days travel away and they are well stocked. A 0 means there are no official bases anywhere.<br />
  <b>Bureaucracy</b>-&gt; How well the leadership of the group functions. A 10 represents an efficient leadership, while a 0 represents a leadership severely hampered by red tape and tradition. Very small groups will almost always have a very high rating since the decisions are all made locally, though if there is friction or disagreement among the members this rating can suffer. If working through a parent organization, the worst of the ratings are used.
</p>

<%= render :super %>
